
VITE_HOST=maxxpainn.local
VITE_PORT=8080
VITE_USE_HTTPS=true
VITE_SSL_KEY=./.certs/maxxpainn.local-key.pem
VITE_SSL_CERT=./.certs/maxxpainn.local.pem

#API Details 
VITE_API_ENDPOINT="https://maxxpainn.local:8090"
